<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Test Suite" verbose="1" parallel="tests" thread-count="2" configfailurepolicy="continue">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>

    <test name="UI Tests">
        <classes>
            <class name="steps.UI_Test.DashboardTest" />
            <class name="steps.UI_Test.AddEmployeeTest" />
            <class name="steps.UI_Test.AddReportTest" />
            <class name="steps.UI_Test.ApplyLeaveTest" />
            <class name="steps.UI_Test.ValidateLeaveStatusTest" />
            <class name="steps.UI_Test.AddJobTitleTest" />
            <class name="steps.UI_Test.AddWorkShiftTest" />
            <class name="steps.UI_Test.AddTimesheetTest" />
            <class name="steps.UI_Test.AproveTimesheetTest" />
        </classes>
    </test>
</suite>
