<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="APITests">
    <test name="CucumberTests">
        <classes>
            <class name="com.example.tests.CucumberTestRunner" />
        </classes>
    </test>
    <test name="RestAssuredTests">
        <classes>
            <class name="com.example.tests.ApiTests" />
        </classes>
    </test>
</suite>
